<div class="alert alert-success mt-4 text-center">
    Successfully Logout
</div>

<div class="mb-3 d-flex justify-content-center">
    <a href="/login/restaurant" class="link-primary">Restaurant Owner Login</a>
</div>
<div class="mb-3 d-flex justify-content-center">
    <a href="/login/user" class="link-primary">User Login</a>
</div>
