<div class="alert alert-warning mt-4 text-center">
    Page Not Found
</div>

<div class="mb-3 d-flex justify-content-center">
    <a href="/login/restaurant" class="link-primary">Restaurant Owner Login</a>
</div>
<div class="mb-3 d-flex justify-content-center">
    <a href="/login/user" class="link-primary">User Login</a>
</div>
<div class="mb-3 d-flex justify-content-center">
    <a href="/register/userRegistration/" class="link-primary">User register here</a>
</div>
<div class="mb-3 d-flex justify-content-center">
    <a href="/register/restaurantRegistration/" class="link-primary">Restaurant register here</a>
</div>
