<div class="container">
    <form>
        <label for="restId" hidden>Id</label>
        <input type="hidden" id="restId" value="{{restId}}">
    </form>
    <h1 class="text-center mt-2 mb-2">{{rest.name}}</h1>
    <div class="row mt-3">
        <div id="menuContainer"></div>
    </div>
    <div class="alert text-center alert-danger mb-3 mt-3 visibility-hidden" id="errorMessage">

    </div>
    <div class="alert text-center alert-warning mb-3 mt-3 visibility-hidden" id="warningMessage">

    </div>
    <div class="flex-horizontal flex-center mt-4">
        <button class="btn btn-primary" id="placeOrder">Place Order</button>
    </div>
</div>
<script src="/public/menuForOrder.js"></script>
